@font-face {
    font-family: 'futuramediumcregular';
    src: url('../fonts/futuramediumc-webfont.eot');
    src: url('../fonts/futuramediumc-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/futuramediumc-webfont.woff2') format('woff2'),
    url('../fonts/futuramediumc-webfont.woff') format('woff'),
    url('../fonts/futuramediumc-webfont.ttf') format('truetype'),
    url('../fonts/futuramediumc-webfont.svg#futuramediumcregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
*{
    padding: 0;
    margin: 0;
    color: #4d4d4d;
    font-family: 'futuramediumcregular';
}
article,
aside,
footer,
header,
nav,
section,
figcaption,
figure,
main{
    display: block;
}
.slide{
    width: 1024px;
    height: 768px;
    background: url("../images/bg.png") center/cover no-repeat;
}
h1{
    position: absolute;
    top: 122px;
    left: 57px;
    font: 30px 'futuramediumcregular';
}
.red-big-circle{
    position: absolute;
    background: url("../images/red-circle.png") center/contain no-repeat;
    opacity: 0;
}
.red-big-circle-left{
    top: 472px;
    left: 428px;
    width: 91px;
    height: 99px;
}
.red-big-circle-right{
    top: 391px;
    left: 623px;
    width: 94px;
    height: 90px;
}
@keyframes show-hide-reb-big-circle {
    from,
    to{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
}
@keyframes pulse-reb-big-circle {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    50% {
        -webkit-transform: scale3d(1.35, 1.35, 1.35);
        transform: scale3d(1.35, 1.35, 1.35);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
.red-big-circle{
    animation:  show-hide-reb-big-circle 8s 0s 1,
                pulse-reb-big-circle 1s 0.5s 4;
}
/***************************/
/***************************/
@keyframes show-resize-product-img {
    from {
        opacity: 1;
        -webkit-transform: scale3d(0.25, 0.25, 0.25);
        transform: scale3d(0.25, 0.25, 0.25);
    }
    /*33%{*/
        /*width: 85px;*/
        /*height: 55px;*/
    /*}*/
    /*66% {*/
        /*width: 185px;*/
        /*height: 155px;*/
    /*}*/
    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
.popup-img{
    position: absolute;
    top: 155px;
    left: 144px;
    width: 745px;
    height: 492px;
    box-sizing: border-box;
    background: url("../images/popup-img.png") center/contain no-repeat;
    animation:  show-resize-product-img 3s 7s linear forwards;
    z-index: 1;
    opacity: 0;
}
/***************************/
/***************************/
@keyframes show-popup-img-inner {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.popup-img-inner{
    position: relative;
    opacity: 0;
    animation:  show-popup-img-inner 1s 5s linear forwards;
}
.product-name {
    position: absolute;
    top: 20px;
    font-size: 30px;
    color: #f14405;
    text-shadow:
            -0   -4px 0   #FFFFFF,
            0   -4px 0   #FFFFFF,
            -0    4px 0   #FFFFFF,
            0    4px 0   #FFFFFF,
            -4px -0   0   #FFFFFF,
            4px -0   0   #FFFFFF,
            -4px  0   0   #FFFFFF,
            4px  0   0   #FFFFFF,
            -1px -4px 0   #FFFFFF,
            1px -4px 0   #FFFFFF,
            -1px  4px 0   #FFFFFF,
            1px  4px 0   #FFFFFF,
            -4px -1px 0   #FFFFFF,
            4px -1px 0   #FFFFFF,
            -4px  1px 0   #FFFFFF,
            4px  1px 0   #FFFFFF,
            -2px -4px 0   #FFFFFF,
            2px -4px 0   #FFFFFF,
            -2px  4px 0   #FFFFFF,
            2px  4px 0   #FFFFFF,
            -4px -2px 0   #FFFFFF,
            4px -2px 0   #FFFFFF,
            -4px  2px 0   #FFFFFF,
            4px  2px 0   #FFFFFF,
            -3px -4px 0   #FFFFFF,
            3px -4px 0   #FFFFFF,
            -3px  4px 0   #FFFFFF,
            3px  4px 0   #FFFFFF,
            -4px -3px 0   #FFFFFF,
            4px -3px 0   #FFFFFF,
            -4px  3px 0   #FFFFFF,
            4px  3px 0   #FFFFFF,
            -4px -4px 0   #FFFFFF,
            4px -4px 0   #FFFFFF,
            -4px  4px 0   #FFFFFF,
            4px  4px 0   #FFFFFF,
            -4px -4px 0   #FFFFFF,
            4px -4px 0   #FFFFFF,
            -4px  4px 0   #FFFFFF,
            4px  4px 0   #FFFFFF;
}
.product-left-name{
    left: 85px;
}
.product-right-name{
    left: 525px;
    color: #da333d;
}
.product-img{
    position: absolute;
    top: 14px;
    left: 295px;
    width: 150px;
    height: 150px;
    background: url("../images/product.png") center/contain no-repeat;
}
/*******************************************************************/
.bubles-left-group{
    position: absolute;
    top: 39px;
    left: 249px;
    width: 45px;
    height: 95px;
    opacity: 0;
    z-index: 2;
}
.buble{
    position: absolute;
    width: 12px;
    height: 12px;
}
.bubles-left-group .buble{
    background: url("../images/buble-orange.png") center/contain no-repeat;
}
.bubles-left-group .buble1{
    top: 0;
    left: 35px;
    animation:  buble1-left-animate 7s 12s ease-out forwards;
}
.bubles-left-group .buble2{
    top: 10px;
    left: 17px;
    animation:  buble2-left-animate 10s 12s ease-out forwards;
}
.bubles-left-group .buble3{
    top: 17px;
    left: 0;
    animation:  buble3-left-animate 8s 11s ease-out forwards;
}
.bubles-left-group .buble4{
    top: 20px;
    left: 32px;
    animation:  buble4-left-animate 8s 13s ease-out forwards;
}
.bubles-left-group .buble5{
    top: 30px;
    left: 16px;
    animation:  buble5-left-animate 7s 13s ease-out forwards;
}
.bubles-left-group .buble6{
    top: 40px;
    left: 3px;
    animation:  buble6-left-animate 8s 10s ease-out forwards;
}
.bubles-left-group .buble7{
    top: 38px;
    left: 30px;
    animation:  buble7-left-animate 8s 13s ease-out forwards;
}
.bubles-left-group .buble8{
    top: 51px;
    left: 18px;
    animation:  buble8-left-animate 8s 11s ease-out forwards;
}
.bubles-left-group .buble9{
    top: 56px;
    left: 32px;
    animation:  buble9-left-animate 8s 12s ease-out forwards;
}
.bubles-left-group .buble10{
    top: 66px;
    left: 19px;
    animation:  buble10-left-animate 6s 11s ease-out forwards;
}
.bubles-left-group .buble11{
    top: 72px;
    left: 1px;
    animation:  buble11-left-animate 8s 10s ease-out forwards;
}
.bubles-left-group .buble12{
    top: 75px;
    left: 35px;
    animation:  buble12-left-animate 8s 11s ease-out forwards;
}
.bubles-left-group .buble13{
    top: 87px;
    left: 17px;
    animation:  buble13-left-animate 7s 10s ease-out forwards;
}
/*******************************************************************/
@keyframes buble1-left-animate {
    from{
        transform: translate(0, 0);
    }
    35%{
        transform: translate(-250px, 70px);
        opacity: 0;
    }
    40%{
        opacity: 0;
        transform: translate(-210px, 280px);
    }
    55%{
        opacity: 1;
        transform: translate(-100px, 365px);
    }
    to{
        transform: translate(-100px, 365px);
        opacity: 0;
    }
}
@keyframes buble2-left-animate {
    from{
        transform: translate(0, 0);
    }
    35%{
        transform: translate(-250px, 70px);
        opacity: 0;
    }
    40%{
        opacity: 0;
        transform: translate(-210px, 280px);
    }
    55%{
        opacity: 1;
        transform: translate(-90px, 355px);
    }
    to{
        transform: translate(-90px, 355px);
        opacity: 0;
    }
}
@keyframes buble3-left-animate {
    from{
        transform: translate(0, 0);
    }
    35%{
        transform: translate(-250px, 70px);
        opacity: 0;
    }
    40%{
        opacity: 0;
        transform: translate(-210px, 280px);
    }
    55%{
        opacity: 1;
        transform: translate(-120px, 360px);
    }
    to{
        transform: translate(-120px, 360px);
        opacity: 0;
    }
}
@keyframes buble4-left-animate {
    from{
        transform: translate(0, 0);
    }
    35%{
        transform: translate(-250px, 70px);
        opacity: 0;
    }
    40%{
        opacity: 0;
        transform: translate(-210px, 280px);
    }
    55%{
        opacity: 1;
        transform: translate(-90px, 365px);
    }
    to{
        transform: translate(-90px, 365px);
        opacity: 0;
    }
}
@keyframes buble5-left-animate {
    from{
        transform: translate(0, 0);
    }
    35%{
        transform: translate(-250px, 70px);
        opacity: 0;
    }
    40%{
        opacity: 0;
        transform: translate(-210px, 280px);
    }
    55%{
        opacity: 1;
        transform: translate(-165px, 360px);
    }
    to{
        transform: translate(-165px, 360px);
        opacity: 0;
    }
}
@keyframes buble6-left-animate {
    from{
        transform: translate(0, 0);
    }
    35%{
        transform: translate(-250px, 70px);
        opacity: 0;
    }
    40%{
        opacity: 0;
        transform: translate(-210px, 280px);
    }
    55%{
        opacity: 1;
        transform: translate(-170px, 350px);
    }
    to{
        transform: translate(-170px, 350px);
        opacity: 0;
    }
}
@keyframes buble7-left-animate {
    from{
        transform: translate(0, 0);
    }
    35%{
        transform: translate(-250px, 70px);
        opacity: 0;
    }
    40%{
        opacity: 0;
        transform: translate(-210px, 280px);
    }
    55%{
        opacity: 1;
        transform: translate(-145px, 320px);
    }
    to{
        transform: translate(-145px, 320px);
        opacity: 0;
    }
}
@keyframes buble8-left-animate {
    from{
        transform: translate(0, 0);
    }
    35%{
        transform: translate(-250px, 70px);
        opacity: 0;
    }
    40%{
        opacity: 0;
        transform: translate(-210px, 280px);
    }
    55%{
        opacity: 1;
        transform: translate(-135px, 350px);
    }
    to{
        transform: translate(-135px, 350px);
        opacity: 0;
    }
}
@keyframes buble9-left-animate {
    from{
        transform: translate(0, 0);
    }
    35%{
        transform: translate(-250px, 70px);
        opacity: 0;
    }
    40%{
        opacity: 0;
        transform: translate(-210px, 280px);
    }
    55%{
        opacity: 1;
        transform: translate(-140px, 345px);
    }
    to{
        transform: translate(-140px, 345px);
        opacity: 0;
    }
}
@keyframes buble10-left-animate {
    from{
        transform: translate(0, 0);
    }
    35%{
        transform: translate(-250px, 70px);
        opacity: 0;
    }
    40%{
        opacity: 0;
        transform: translate(-210px, 280px);
    }
    55%{
        opacity: 1;
        transform: translate(-145px, 340px);
    }
    to{
        transform: translate(-145px, 340px);
        opacity: 0;
    }
}
@keyframes buble11-left-animate {
    from{
        transform: translate(0, 0);
    }
    35%{
        transform: translate(-250px, 70px);
        opacity: 0;
    }
    40%{
        opacity: 0;
        transform: translate(-210px, 280px);
    }
    55%{
        opacity: 1;
        transform: translate(-150px, 325px);
    }
    to{
        transform: translate(-150px, 325px);
        opacity: 0;
    }
}
@keyframes buble12-left-animate {
    from{
        transform: translate(0, 0);
    }
    35%{
        transform: translate(-230px, 80px);
        opacity: 0;
    }
    40%{
        opacity: 0;
        transform: translate(-200px, 270px);
    }
    55%{
        opacity: 1;
        transform: translate(-130px, 320px);
    }
    to{
        transform: translate(-130px, 320px);
        opacity: 0;
    }
}
@keyframes buble13-left-animate {
    from{
        transform: translate(0, 0);
    }
    35%{
        transform: translate(-250px, 70px);
        opacity: 0;
    }
    40%{
        opacity: 0;
        transform: translate(-210px, 280px);
    }
    55%{
        opacity: 1;
        transform: translate(-150px, 330px);
    }
    to{
        transform: translate(-150px, 330px);
        opacity: 0;
    }
}
/*******************************************************************/
.bubles-right-group{
    position: absolute;
    top: 32px;
    left: 446px;
    width: 45px;
    height: 105px;
    opacity: 0;
    z-index: 1;
}
.bubles-right-group .buble{
    background: url("../images/buble-red.png") center/contain no-repeat;
}
.bubles-right-group .buble1{
    top: 2px;
    left: -2px;
    animation:  buble1-right-animate 6s 11s ease-out forwards;
}
.bubles-right-group .buble2{
    top: 7px;
    left: 14px;
    animation:  buble2-right-animate 7s 12s ease-out forwards;
}
.bubles-right-group .buble3{
    top: 22px;
    left: 16px;
    animation:  buble3-right-animate 7s 13s ease-out forwards;
}
.bubles-right-group .buble4{
    top: 22px;
    left: 32px;
    animation:  buble4-right-animate 7s 12s ease-out forwards;
}
.bubles-right-group .buble5{
    top: 29px;
    left: 1px;
    animation:  buble5-right-animate 8s 10s ease-out forwards;
}
.bubles-right-group .buble6{
    top: 36px;
    left: 14px;
    animation:  buble6-right-animate 7s 13s ease-out forwards;
}
.bubles-right-group .buble7{
    top: 41px;
    left: 25px;
    animation:  buble7-right-animate 7s 11s ease-out forwards;
}
.bubles-right-group .buble8{
    top: 48px;
    left: -2px;
    animation:  buble8-right-animate 7s 12.5s ease-out forwards;
}
.bubles-right-group .buble9{
    top: 51px;
    left: 13px;
    animation:  buble9-right-animate 7s 12.5s ease-out forwards;
}
.bubles-right-group .buble10{
    top: 64px;
    left: 24px;
    animation:  buble10-right-animate 7s 10.5s ease-out forwards;
}
.bubles-right-group .buble11{
    top: 69px;
    left: 1px;
    animation:  buble11-right-animate 7s 12.5s ease-out forwards;
}
.bubles-right-group .buble12{
    top: 77px;
    left: 14px;
    animation:  buble12-right-animate 7s 13s ease-out forwards;
}
.bubles-right-group .buble13{
    top: 87px;
    left: 0;
    animation:  buble13-right-animate 7s 11s ease-out forwards;
}
.bubles-right-group .buble14{
    top: 95px;
    left: 14px;
    animation:  buble14-right-animate 7s 12s ease-out forwards;
}
/*******************************************************************/
@keyframes bubles-group-animate {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.bubles-left-group,
.bubles-right-group{
    animation:  bubles-group-animate 1.5s 7s ease-in forwards;
}
/*******************************************************************/
@keyframes buble1-right-animate {
    from{
        transform: translate(0, 0);
    }
    35%{
        transform: translate(250px, 70px);
        opacity: 0;
    }
    40%{
        opacity: 0;
        transform: translate(210px, 280px);
    }
    55%{
        opacity: 1;
        transform: translate(160px, 290px);
    }
    to{
        transform: translate(160px, 290px);
        opacity: 0;
    }
}
@keyframes buble2-right-animate {
    from{
        transform: translate(0, 0);
    }
    35%{
        transform: translate(250px, 70px);
        opacity: 0;
    }
    40%{
        opacity: 0;
        transform: translate(210px, 280px);
    }
    55%{
        opacity: 1;
        transform: translate(170px, 355px);
    }
    to{
        transform: translate(170px, 355px);
        opacity: 0;
    }
}
@keyframes buble3-right-animate {
    from{
        transform: translate(0, 0);
    }
    35%{
        transform: translate(250px, 70px);
        opacity: 0;
    }
    40%{
        opacity: 0;
        transform: translate(210px, 280px);
    }
    55%{
        opacity: 1;
        transform: translate(120px, 360px);
    }
    to{
        transform: translate(120px, 360px);
        opacity: 0;
    }
}
@keyframes buble4-right-animate {
    from{
        transform: translate(0, 0);
    }
    35%{
        transform: translate(250px, 70px);
        opacity: 0;
    }
    40%{
        opacity: 0;
        transform: translate(210px, 280px);
    }
    55%{
        opacity: 1;
        transform: translate(140px, 290px);
    }
    to{
        transform: translate(140px, 290px);
        opacity: 0;
    }
}
@keyframes buble5-right-animate {
    from{
        transform: translate(0, 0);
    }
    35%{
        transform: translate(250px, 70px);
        opacity: 0;
    }
    40%{
        opacity: 0;
        transform: translate(210px, 280px);
    }
    55%{
        opacity: 1;
        transform: translate(165px, 270px);
    }
    to{
        transform: translate(165px, 270px);
        opacity: 0;
    }
}
@keyframes buble6-right-animate {
    from{
        transform: translate(0, 0);
    }
    35%{
        transform: translate(250px, 70px);
        opacity: 0;
    }
    40%{
        opacity: 0;
        transform: translate(210px, 280px);
    }
    55%{
        opacity: 1;
        transform: translate(170px, 350px);
    }
    to{
        transform: translate(170px, 350px);
        opacity: 0;
    }
}
@keyframes buble7-right-animate {
    from{
        transform: translate(0, 0);
    }
    35%{
        transform: translate(250px, 70px);
        opacity: 0;
    }
    40%{
        opacity: 0;
        transform: translate(210px, 280px);
    }
    55%{
        opacity: 1;
        transform: translate(190px, 320px);
    }
    to{
        transform: translate(190px, 320px);
        opacity: 0;
    }
}
@keyframes buble8-right-animate {
    from{
        transform: translate(0, 0);
    }
    35%{
        transform: translate(250px, 70px);
        opacity: 0;
    }
    40%{
        opacity: 0;
        transform: translate(210px, 280px);
    }
    55%{
        opacity: 1;
        transform: translate(185px, 300px);
    }
    to{
        transform: translate(185px, 300px);
        opacity: 0;
    }
}
@keyframes buble9-right-animate {
    from{
        transform: translate(0, 0);
    }
    35%{
        transform: translate(250px, 70px);
        opacity: 0;
    }
    40%{
        opacity: 0;
        transform: translate(210px, 280px);
    }
    55%{
        opacity: 1;
        transform: translate(175px, 285px);
    }
    to{
        transform: translate(175px, 285px);
        opacity: 0;
    }
}
@keyframes buble10-right-animate {
    from{
        transform: translate(0, 0);
    }
    35%{
        transform: translate(250px, 70px);
        opacity: 0;
    }
    40%{
        opacity: 0;
        transform: translate(210px, 280px);
    }
    55%{
        opacity: 1;
        transform: translate(160px, 290px);
    }
    to{
        transform: translate(160px, 290px);
        opacity: 0;
    }
}
@keyframes buble11-right-animate {
    from{
        transform: translate(0, 0);
    }
    35%{
        transform: translate(250px, 70px);
        opacity: 0;
    }
    40%{
        opacity: 0;
        transform: translate(210px, 280px);
    }
    55%{
        opacity: 1;
        transform: translate(155px, 305px);
    }
    to{
        transform: translate(155px, 305px);
        opacity: 0;
    }
}
@keyframes buble12-right-animate {
    from{
        transform: translate(0, 0);
    }
    35%{
        transform: translate(230px, 80px);
        opacity: 0;
    }
    40%{
        opacity: 0;
        transform: translate(200px, 270px);
    }
    55%{
        opacity: 1;
        transform: translate(170px, 320px);
    }
    to{
        transform: translate(170px, 320px);
        opacity: 0;
    }
}
@keyframes buble13-right-animate {
    from{
        transform: translate(0, 0);
    }
    35%{
        transform: translate(250px, 70px);
        opacity: 0;
    }
    40%{
        opacity: 0;
        transform: translate(210px, 280px);
    }
    55%{
        opacity: 1;
        transform: translate(150px, 330px);
    }
    to{
        transform: translate(150px, 330px);
        opacity: 0;
    }
}
@keyframes buble14-right-animate {
    from{
        transform: translate(0, 0);
    }
    35%{
        transform: translate(250px, 70px);
        opacity: 0;
    }
    40%{
        opacity: 0;
        transform: translate(210px, 280px);
    }
    55%{
        opacity: 1;
        transform: translate(195px, 300px);
    }
    to{
        transform: translate(195px, 300px);
        opacity: 0;
    }
}
/*******************************************************************/
@keyframes hide-tube {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
.tube{
    position: absolute;
    width: 58px;
    height: 86px;
    background: url("../images/tube.png") center/contain no-repeat;
}
.tube1{
    top: 130px;
    left: 47px;
}
.tube2{
    top: 58px;
    left: 80px;
}
.tube3{
    top: 80px;
    left: 215px;
}
.tube5{
    top: 60px;
    left: 484px;
}
.tube6{
    top: 60px;
    left: 615px;
}
.tube7{
    top: 390px;
    left: 100px;
}
.tube8{
    top: 390px;
    left: 102px;
}
.tube9{
    top: 390px;
    left: 450px;
}
.tube10{
    top: 345px;
    left: 609px;
}
.tube11{
    top: 336px;
    left: 669px;
}
.tube1,
.tube2,
.tube3,
.tube4,
.tube5,
.tube6{
    animation:  hide-tube 2s 15s linear forwards;
}
.tube7,
.tube8,
.tube9,
.tube10,
.tube11{
    animation:  hide-tube 2s 19s linear forwards;
}
/*******************************************************************/
@keyframes pulse-item-left {
    to{
        background-image: url("../images/item-left-pulse.png");
    }
}
.item-left{
    position: absolute;
    top: 381px;
    left: 227px;
    width: 150px;
    height: 112px;
    background: url("../images/item-left.png") center/contain no-repeat;
    animation:  pulse-item-left 1s 21s linear 7;
}
@keyframes pulse-item-right {
    to{
        background-image: url("../images/item-right-pulse.png");
    }
}
.item-right{
    position: absolute;
    top: 370px;
    right: 95px;
    width: 147px;
    height: 120px;
    background: url("../images/item-right.png") center/contain no-repeat;
    animation:  pulse-item-right 1s 21s linear 7;
}
@keyframes brightness-anim {
    to{
        filter: brightness(1.25);
    }
}
.slide{
    animation:  brightness-anim 1s 20s linear 1 forwards;
}
